* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: #424843;
  color: antiquewhite;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .operant {
  background: #4e554f;
  color: #fff;
  grid-column: span 4;
  height: 50px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  overflow: scroll;
}

.calculator button {
  cursor: pointer;
  display: grid;
  width: auto;
  height: auto;
  min-height: 60px;
  min-width: 60px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator button:active {
  background: #74ff3b !important;
  color: #111;
}

.calculator button.clear {
  grid-column: span 2;
  width: 120px;
}

.calculator button.symbole {
  background: #e89b0e;
}

.sidebar {
  background: #4e554f;
}
